@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');


h1,h2,h3{
	font-family: "titillium web" sans-serif;
	
}

body{
	
	background: rgb(0, 0, 0);
	
}

.topo h5{
    font-size: 121%;
    color: #fff;
    margin-top: 10%;
    font-family: -webkit-body;
}
.topo nav ul{
	display: flex;
	justify-content:space-between;
	
}

.topo nav ul li{
	display: block;
	padding: 5px 56px;
	margin: 74px 12px
}

.topo nav ul li:hover{
	background:rgba(0,0,0,0);
}

.topo nav ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
}

.icon{
	display: flex;
	padding: 50px;
	align-items: baseline;
}
.iconHome{
	background:url(../img/icon/espião.svg) no-repeat center;
}
.iconSobre{
	background:url(../img/icon/abafador.svg) no-repeat center;
}
.iconServico{
	background:url(../img/icon/stem-stem.svg) no-repeat center;
}
.iconContato{
	background:url(../img/icon/logocru-vetor-branco.svg) no-repeat center;
}
.iconDicas{
	background:url(../img/icon/carvao.svg) no-repeat center;
}

.iconSim{
	background:url(../img/icon/sim+.svg) no-repeat center;
}
.iconNao{
	background:url(../img/icon/nao-.svg) no-repeat center;
}
.banner img{
	width: 100%;
}
.bannerdois img{
	width: 100%;
}
.banner3 img{
	
	margin-top: 3%;
	width:50%; 
	height:50%;
}

.banner3 h3{
	color: #fff;
    font-family: none;


}

.sobre{
	margin: 2% 0;
	background: url(../img/imagens_site/destaque/fumacacor3.png);
	background-size:cover;
	height: 59%;
}
.sobre div{
	display: flex;
	justify-content: space-around;
}
.sobre div article{
	width: 40%;
}
.sobre div article:nth-child(1){
	margin-left: 12%;
}
.sobre h2{
	color: #fff;
    font-size: 66px;
    margin-top: 5%;
    font-family: none;
    padding: 0% 27% 0% 0%;
}
.sobre p{
	font-size: 21px;
    padding: 3% 23% 14% 1%;
    line-height: 2;
    color: #FFFFFF;
    font-family: monospace;
}

.servico{
	background: #000;
	padding: 10px;
	text-align: center;margin-top: -7%;
}

.servico h2{

    background: #E6E6FC;
    padding: 1%;
    width: 160px;
    margin:54px auto;
    border-radius: 200% 200% 200% 200%;
    color: #E6E6FC;
	font-family: 'Rubik Mono One', sans-serif;
}
.servico hr{
	height: 3px;
    background:#0000;
    position: relative;
    margin-top: -3px;
    border: none;
}
.servicoUm{
	margin-top: 10%;
	display: flex;
	justify-content: center;
	background:url(../img/imagens_site/destaque/troca.png);
}
.servicoUm article{
	
	width: 3%;
	padding: 3px;
	border-radius: 5px;
	
	;
}
.servicoUm article img{

    width: 70%;
    border-radius: 118px 118px 0 0;

}
.servicoUm article h4{
	color:#E6E6FC;
	padding: 3% 0;
	color:#E6E6FC;
	
}


.servicoUm article h3{
	padding: 3% 0;
	color:#fff;
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 25px;

}
.servicoUm article p{
	
    text-align: justify;
    padding-bottom: 30px;
    font-size: 19px;
    color: #E6E6FC;
    font-family: 'Bungee', cursive;
}
.servicoUm article a{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #E6E6FC;
    color: #000;
    border-radius: 100% 100% 100% 100%;
}
.servicoUm article a:hover{
	background: #CCC;
	color: #E6E6FC;
}


.servicoDois{
	background:url(../img/imagens_site/destaque/eventos.png);
	opacity: 50px;
	display: flex;
	justify-content: center;
	margin-top: 3%;
}
.servicoDois article{
	width: 3%;
	padding: 3px;
	border-radius: 5px;
	
}
.servicoDois article img{
	width: 87%;
	border-radius: 10px 10px 0 0;
	margin-top: 2%;
}
.servicoDois article h4{
	color:#E6E6FC;
	padding: 3% 0;
	color: #0000;
}
.servicoDois article p{
	
    text-align: justify;
    padding-bottom: 30px;
    font-size: 19px;
    color: #E6E6FC;
    font-family: 'Bungee', cursive;
}
.servicoDois article a{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    line-height: 28px;
    text-decoration: none;
    background: #E6E6FC;
    color: #000;
    border-radius: 100% 100% 100% 100%;
}
.servicoDois article a:hover{
	background: #CCC;
	color: #E6E6FC;
}




.equipe{
	
	padding: 40px;
	text-align: center repeats;
}

.equipe h2{
	background: #000000;
	padding: 1%;
	width: 100px;
	margin: 0 auto;
	border-radius: 5px 5px 0 0;
	color:#E6E6FC;
	font-weight: bold;
}
.equipe hr{
	height: 3px;
    background: #E6E6FC;
    position: relative;
    margin-top: -3px;
    border: none;
}
.equipeUm{
	display: flex;
	justify-content: space-between;
}
.equipeUm article{
	width: 6%;
	background: #000;
    padding: 203px;
    border-radius: 50px;
    box-shadow: inset 2px 1px 26px 13px #E6E6FC;
}

.equipeUm article:nth-child(1){
	background: url(../img/colaboradores/absolem.jpg);
	width: 10%;
	
}
.equipeUm article:nth-child(2){
	background: url(../img//util/imgvideo2.jpg);
	width: 10%;
	
}
.equipeUm article:nth-child(3){
	background: url(../img/colaboradores/toystory.jpg);
	width: 10%;
	
}
.equipeUm article h4{
	color: #E6E6FC;
	padding: 3% 0;
}
.equipeUm article p{
	text-align: justify;
	padding-bottom: 50px;
	font-size: 12px;
}
.equipeUm article a{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	line-height:28px;
	text-decoration:none;
	color: #E6E6FC;
	background: #FFFFFF;
	border-radius: 5px;
}
.equipeUm article a:hover{
	background: rgb(3, 3, 3);
	color: rgb(7, 7, 7);
}
.depoimento{


    padding: 0% 150px;
	text-align: center;
	margin-top: 10%;

	
    padding: 6% 363px;
    text-align: center
}

.depoimento article{
	background: rgb(255, 255, 255);
    padding: 4% 18% 7% 20%;
    border-radius: 5px;
    border: solid 4px #000;
    margin-top: -17%;
}
	


.depoimento h1{
	color: rgb(0, 0, 0);
    font-size: 56px;
    margin-top: 0%;
    font-family: none;

}
.depoimento p{
	color: rgb(15, 15, 15);
    font-size: 20px;
    line-height: 40px;
	font-family: monospace;
	margin-top: 3%;

}
.depoimento h2{
	color: #E6E6FC;
	text-align: right;
	font-size: 12px;
	padding: 50px 0 2px 0

}


.depoimentoo{
	background:url(../img/imagens_site/rosh2.jpg);
    padding: 6% 363px;
	text-align: center;
	margin-top: 3%;
}

.depoimentoo article{
	background:rgb(255, 255, 255);
	padding: 4% 18% 7% 20%;
	border-radius: 5px;
	border: solid 4px #000;
	border-top: solid 40px #505050;

}
.depoimentoo p{
	color: rgb(15, 15, 15);
	font-size: 20px;
	line-height: 40px;
}
.depoimentoo h2{
	color: #E6E6FC;
	text-align: right;
	font-size: 12px;
	padding: 50px 0 2px 0
}

.depoimento3{


    padding: 0% 150px;
	text-align: center;
	margin-top: 10%;

	
    padding: 6% 363px;
    text-align: center
}

.depoimento3 article{
	background: rgb(255, 255, 255);
    padding: 4% 18% 7% 20%;
    border-radius: 5px;
    border: solid 4px #000;
    margin-top: -13%;
}
	


.depoimento3 h1{
	color: rgb(0, 0, 0);
    font-size: 56px;
    margin-top: 0%;
    font-family: none;

}
.depoimento3 p{
	color: rgb(15, 15, 15);
    font-size: 20px;
    line-height: 40px;
	font-family: monospace;
	margin-top: 3%;

}
.depoimento3 h2{
	color: #E6E6FC;
	text-align: right;
	font-size: 12px;
	padding: 50px 0 2px 0

}

.dic h1{
	padding: 1%;
	
    width: 160px;
    margin:60px auto;
    border-radius: 200% 200% 200% 200%;
    color: #E6E6FC;
	font-family: 'Rubik Mono One', sans-serif;
}

.galeriaimg{
	margin: 0 4px
}
.flip{
	width: 350px;
	height: 100px;
	float: left;
	perspective: 1000px;
}
.flip .frente{
	position: absolute;
	transform: rotateY(0deg);
	backface-visibility: hidden;
	transition: all .4s linear;
}
.flip .fundo{
	position: absolute;
	transform: rotateY(0deg);
	backface-visibility: hidden;
	transition: all .4s linear;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); 
}
.flip:hover .frente{
	transform: rotatey(-360deg);
	cursor: pointer;
}
.flip:hover .fundo{
	transform: rotatey(-360deg);
	cursor: pointer;
}
.rodape{
	text-align: center;
	font-size:18px;
	color: #ffff;
	margin-top: 5%;
}


.rotate   {
	width: 200px;
	height: 200px;
	margin: 200px;
	text-align: center; 
	
}
.rotate:hover{
	transform: rotate(500grad);
	transition: 1s;
}
.rotate{
	width: 200px;
	height: 200px;
	margin: 200px;
	text-align: center; 
	
}
.rotate:hover{
	transform: rotate(500grad);
	transition: 1s;
}
.rotate{
	width: 200px;
	height: 200px;
	margin: 200px;
	text-align: center; 
	
}
.rotate:hover{
	transform: rotate(500grad);
	transition: 1s;
}
.img .rodape{
	width: 5%;	

}
body {
	font: 150%/1.5 Arial;
	text-align: center;
	margin-top: 6em;
  }
  
  .galeria{
	padding: 2% 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.galeria img{
	margin: 0 4px;  
}
.contato{
	width: 226%;
    position: relative;
    margin-left: -172px;
    margin-top: 28px;

}
.cont img{
	width: 8%;
	margin-top: 4%;
	margin-right: -22%;

}


.sobre2 p{
	margin-top: 10%;
	font-size: 15px;
    padding: 5% 5% 1% 2%;
    line-height: 1;
    color: #ffff;
}

.sobre2 h2{
	margin-top: 15%;
	font-size: 100px;
    padding: 2% 2% 2% 2%;
    line-height: 1;
    color: #FFFFFF;
}

.form{padding: 2%;
	padding: 2%;
    background: #fff;
    border-radius: 29px;
    border: solid 1px #000;
}

.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form textarea{
	background: #f8f6fa;
    border: solid thin #333;
    width: 50%;
    padding: 1%;
    color: #333;
	margin-bottom: 2%;
    border-radius: 5px;
}
.form textarea{resize: none;}

.form input[type=submit]{
	float: right;
	margin-right: -13px;
    border-radius: 5px;
	background: #262626;
	color: #F8F8F8;
	border: solid .5px #909090;
	padding: 2% 8%;
	cursor: pointer;
	font-size: 0.8em;
}
.form input[type=submit]:hover{
	background: #F8F8F8;
	color: #262626;
	border: solid .5px #262626;
}

.rodape img {
	width: 5%;
	margin-top: 4%;
}

.lista img{
	margin:4px;
	width:2%; 
	height:2%;

	
}

.insta img{
	width: 5%;
	margin-top: 2%;
}

.cont a{
	color: #000;
}